/* Estilos generales */

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.img-container {
    display: flex;
}

.img-container img {
    width: 100%;
}


/* FIN DE Estilos generales */

/*Estilos del header*/

header {
    background: #1f1f1f;
    padding: 10px 50px;
}

#logo {
    width: 50px;
}

#logo img {
    border-radius: 100%;
    border: 1px solid #1F2430;
}
/* FIN DE Estilos del header*/


/* Estilos del hero */
#hero {
    position: relative;
}

#hero #computadora {
    display: inline-block;
    width: 100%;
}

#hero .info-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    /*flex-flow: wrap; para que la imagen cambie de lugar en mobil*/
    width: 100%;
    color: #fff;
    padding: 0 50px;
}

#hero .info-container #foto {
    width: 200px;
}

#hero .info-container #foto img {
    border-radius: 100%;
}

#hero .info-container .informacion {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    width: calc(100% - 200px);
}

#hero .info-container .informacion span {
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}

/* Estilos del main */

main {
    padding: 100px;
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

main .social-icons li {
    margin-left: 8px;
}

main .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

main .social-icons #LinkedIn {
    background: #0075b0;
}

main .social-icons #Github {
    background: #23272b;
}

main .social-icons #Mastodon {
    background: #6364ff;
}

main .social-icons #Twitter {
    background: #1da1f2;
}

main .social-icons #Platzi {
    background: #121f3d;
}